@charset "UTF-8";

/**
 * Component: Logo
 * --------------------------------------------------
 */

.c-logo {
  float: left;
  font-size: 13px;
  line-height: 20px;
  padding: 5px 0;
  color: #fff;

  @include mq(above, phablet) {
    font-size: 15px;
    line-height: 20px;
  }
}
