@charset "UTF-8";

/**
 * Component: Section
 * --------------------------------------------------
 */

.Section {
  position: relative;
  z-index: 5;

  &[data-view] {
    display: none;
  }

  .u-table {
    position: relative;
    z-index: 10;
  }

  .u-cell {
    padding: 100px 0;
  }
}
