<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Yoshi - Low-level single page app using URL hash and Ajax. Not MVC, but still cool.</title>
  <meta name="description" content="Not MVC, but still cool.">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css" rel="stylesheet">
  <link href="styles/yoshi.min.css" rel="stylesheet">
  <!--[if IE 8]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

  <!-- Persistent navigation -->
  <header class="c-header" role="banner">
    <div class="u-wrapper">
      <a href="#!" class="c-logo">Yoshi</a>
      <nav class="c-navigation" role="navigation">
        <ul class="c-navigation__list">
          <li class="c-navigation__item">
            <a href="#!" data-href="welcome" class="c-navigation__link">Welcome</a>
          </li>
          <li class="c-navigation__item">
            <a href="#!general" data-href="general" class="c-navigation__link">General</a>
          </li>
          <li class="c-navigation__item">
            <a href="#!broken-link" data-href="broken-link" class="c-navigation__link">Missing</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.1/velocity.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.1/velocity.ui.min.js"></script>
  <script src="scripts/yoshi.min.js"></script>
  <script>
    /**
     * Initialize script
     */

    Yoshi.init({
      container     : 'body', // Element selector where sections will be prepended
      withBang      : true, // '#' vs '#!' for SEO purposes
      pageExt       : '.html', // File extension for view files via Ajax
      transitionIn  : 'slideDownBigIn', // Velocity UI in transition
      transitionOut : 'slideUpBigOut', // Velocity UI out transition
      defaultView   : 'welcome', // Default file view name
      missingView   : 'not-found', // Missing file view name
      activeNav     : 'is-active', // Navigation active UI state
      onBeforeChange: function(view) {
        // old view, 'null' if undefined
        // console.log('Old view: ' + view);
      },
      onAfterChange: function(view) {
        // new view
        // console.log('New view: ' + view);
      }
    });
  </script>
</body>
</html>
