<main class="Section Section--welcome" data-view="welcome" role="main">
  <div class="Section-gradient"></div>
  <div class="u-table" data-height>
    <div class="u-cell">
      <div class="u-wrapper">
        <article class="Article">
          <h1 class="Article-title">Welcome</h1>
          <p class="Article-intro">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisis ornare dictum. Donec ullamcorper scelerisque neque eu vulputate. Phasellus quis ipsum iaculis, sodales eros vel, convallis lectus. Ut egestas ullamcorper leo. Pellentesque finibus risus porta nibh sodales hendrerit. Fusce tempor nulla ac porttitor ultricies.</p>
          <p class="Article-text">Suspendisse viverra, ante ut dignissim elementum, nisl nibh consequat magna, ut condimentum turpis nisl non tellus. Suspendisse condimentum ipsum mi, eget ultricies turpis sollicitudin et. Ut massa nisl, pulvinar ut bibendum sit amet, rhoncus sit amet est. Cras mattis dictum euismod.</p>
          <a href="#!general" class="Button">General Content</a>
          <a href="#!broken-link" class="Button Button--broken">Broken Link</a>
        </article>
      </div>
    </div>
  </div>
</main>
