@charset "UTF-8";

/**
 * Utility: Table
 * --------------------------------------------------
 */

.u-table {
  width: 100%;
  display: table;
}

.u-table__cell {
  display: table-cell;
  vertical-align: middle;
}
